.container img{
    transition: transform 0.3s ease-in-out;
    
}

.container  img:hover:hover{
      transform: scale(1.2);
    
    }
.navbar navbar-expand-lg fixed-top{
  background-color: rgb(31, 26, 58);
}