/* .searchbar{
  background-color: whitesmoke;
  height: 150px;
} */

.Boxes {
    width: 130px;
    height: 190px;
    margin: 1%;
    display: flex;
    background: #f8f7f5;
    position: relative;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
  }

  .Boxes img:hover {
    box-shadow: 6px 10px 10px rgb(239, 204, 77);
  }

  .Deals {
    display: flex;
    position: relative;
    border-radius: 10px;
    height: 150px;
    background: whitesmoke;
}

.Deals img {
    transition: transform 0.3s ease-in-out; /* Add smooth transition */
    border-radius: 50%;
     width: 105px,; 
     height: 105px;
     padding: 10px; 
     margin-left:37px ; 
     margin-top:10px;
}

.Deals img:hover {
    transform: scale(1.3); /* Increase size on hover */
}
.sellercard {
  display: flex;
  margin-top: 30px;
  
}

.experts-card{
  display: flex;
  margin-top: 30px;
  margin-left: 100px;
}

.card {
  margin: 0 10px;
  position: relative;
  margin-left:38px;
}

.card img {
  height: 250px;
  width: 250px;
  transition: transform 0.3s ease-in-out;
  
}

.card .card-info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 5px;
  box-sizing: border-box;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
  
  
}

.card:hover img {
  transform: scale(1.1);
}

.card .card-info {
  opacity: 1;

}
.offers-header {
  text-align: center;
  margin: 20px 0;
}

.offers-header .line {
  display: inline-block;
  width: 40%;
  border-top: 2px solid black;
  margin-top: 5px;
}

.offers-header span {
  display: inline-block;
  padding: 0 10px;
}
.home__images1{
  display: flex;
  align-items: center;
  
}

.home__images1 {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
}
.home__images1 a {
margin-bottom: 20px;
background-color: #f0f0f0; 
height:300px;
width:300px;
margin-left:60px;
margin-right: 45px;
display: inline-block;
border-radius: 8px;
overflow: hidden;
box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.1); 
}
.home__images1 img {
width: 300px;
transform: rotate(-20deg); 
transition: transform 0.3s ease;
}
.home__images1 a:hover img {
transform: rotate(0deg); /* Reset rotation on hover */
}

.home__images1 a:nth-child(1) { background-color: #b40dca; }
.home__images1 a:nth-child(2) { background-color: #dceb10; }
.home__images1 a:nth-child(3) { background-color: #e71919; }
.home__images1 a:nth-child(4) { background-color: #24cc43; }
.home__images1 a:nth-child(5) { background-color: #da11af; }
.home__images1 a:nth-child(6) { background-color: #0f8dc3; }
  